    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JavaScript Temperature Converter</title>
    <link href="views/global.css" rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="views/temperatura.js"></script>