<h1>Conversor de Temperaturas</h1>
<p>Ejemplos: 45F, 3.5e-6c</p>
<table>
    <tr>
      <th>Temperatura:</th>
    <td><input id="original" autofocus onchange="calculate();" placeholder="32F" size="50"></td>
    </tr>
    <tr>
      <th>Temperatura converitda:</th>
    <td><span class="output" id="converted"></span></td>
    </tr>
</table>