<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>JavaScript Temperature Converter</title>
     <link href="global.css" rel="stylesheet" type="text/css">
     <link href="normalize.css" rel="stylesheet" type="text/css">
     

     <script type="text/javascript" src="temperatura.js"></script>
  </head>
  
  <body>
    <br><br>
    <h1>Temperature Converter</h1>
   
    <br><br>
    <table>
      <tr>
        <th>Enter  Temperature:</th>
        <td><input id="original" autofocus onchange="calculate();" placeholder="32F, 45C, -2.5f" size="50"></td>
      </tr>
      <tr>
        <th>Converted Temperature:</th>
        <td><span class="output" id="converted"></span></td>
      </tr>
    </table>
    
  </body>
</html>

<!--definir una clase medida, con sus metodos, tostring tovalue. La clase temperatura debera heredar de medida