<h1>Conversor de Temperaturas</h1>

<div>
  <form action="/" method="post">
    <table>
      <tr>
        <th>Introduzca la temperatura a convertir (ejemplo: 32F, 45C, -2.5f):</th>
        <td><input type="text" name= "ini_temp" placeholder="32F" size="50" autofocus onchange=""/></td>
      </tr>
    </table>
</div>