<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Conversor de Temperatura</title>
      <link href="views/global.css" rel="stylesheet" type="text/css">
    </head>

    <body>
      <%- body %>
    </body>
</html>